[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
torch = "==2.4.0"
torchvision = "*"
pillow = "==11.0.0"
torchaudio = "*"
scipy = "*"
transformers = "*"
accelerate = "*"
evaluate = "*"
timm = "*"
matplotlib = "*"
numpy = "==1.26.4"
pandas = "==1.5.3"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
